<table>
    <% tableRows.forEach(function (tableData) { %>
        <tr>
            <% tableData.forEach(function (tableDatum) { %>
                <td><%= tableDatum %></td>
            <% }); %>
        </tr>
    <% }); %>
</table>